<div class="news-conainter">
  <div class="news-article">
    <div class="pressTitleDetails">
      <h4 class="pressDate"> <strong>FOR IMMEDIATE RELEASE: MAY 19, 2016</strong> </h4>
      <h6>Mike Sparkia</h6>
      <h6>Proverimed, LLC</h6>
      <h6><a href="mailto:msparkia@proverimed.com">msparkia@proverimed.com</a></h6>
      <h2 class="news-title">Proverimed, LLC Raises Capital</h2>
      <h5 class="news-subtitle">Company focusing on automation of process, receives first round of funding</h5>
    </div>
    <div class="news-content">
      <span><img class="pressImg" src="../images/33.jpg"></span>
      <span>
        <p><strong>Lansing, MI:</strong> Today, Proverimed, LLC, received its first round of capital funding which will help drive its mission, build partnerships with appropriate IT vendors capable of supporting a nationwide clearinghouse, and create its corporate infrastructure to move the company to the next phase of growth.</p>

        <p>Mike Sparkia, one of the firm's founders, said, "We're excited we have the capital backing necessary to move forward, but more importantly, the support and belief from our investors in our vision."</p>

        <p><strong>About Proverimed, LLC:</strong> Proverimed is an online clearinghouse addressing the manual work being performed by insurance carriers, nationwide, when responding to liability insurance coverage and claims history requests from credentials verification organizations, health plans, hospitals, and other companies that need to verify coverage of the health care providers seeking privileges to see patients through those entities.</p>
      </span>
    </div>
  </div>
</div>
