<div class="news-article">
  <div class="pressTitleDetails">
    <h4 class="pressDate"> <strong>FOR IMMEDIATE RELEASE: MARCH 30, 2016</strong> </h4>
    <h6>Mike Sparkia</h6>
    <h6>Proverimed, LLC</h6>
    <h6><a href="mailto:msparkia@proverimed.com">msparkia@proverimed.com</a></h6>
    <h2 class="news-title">Proverimed, LLC Incorporates</h2>
    <h5 class="news-subtitle">Primary verification source company opens its doors</h5>
  </div>
  <div class="news-content">
    <!-- <span><img class="pressImg" src="../images/33.jpeg"></span> -->
    <span>
      <p><strong>Lansing, MI:</strong> Today, Proverimed, LLC, filed incorporation forms with the Michigan Department of Licensing and Regulatory Affairs (LARA).  The company will work toward combating legacy processes within the insurance industry to increase insurance carriers' operational efficiencies via automation.</p>

      <p>Proverimed wants to remove the need for insurance carriers to manually fulfill verification of insurance requests, by automating the primary source verification process.   Through automation, Proverimed reduces administrative overhead, accelerates turn-around-times in verifying a provider's coverage, and enhances the insured's confidentiality of their policy information and claims history.</p>

      <p><strong>About Proverimed, LLC:</strong> Proverimed is an online clearinghouse addressing the manual work being performed by insurance carriers, nationwide, when responding to liability insurance coverage and claims history requests from credentials verification organizations, health plans, hospitals, and other companies that need to verify coverage of the health care providers seeking privileges to see patients through those entities.</p>
    </span>
  </div>
</div>
