  <div class="news-article">
    <div class="pressTitleDetails">
      <h4 class="pressDate"> <strong>FOR IMMEDIATE RELEASE: MARCH 5, 2018</strong> </h4>
      <h6>Mike Sparkia</h6>
      <h6>Proverimed, LLC</h6>
      <h6><a href="mailto:msparkia@proverimed.com">msparkia@proverimed.com</a></h6>
      <h2 class="news-title">Proverimed, LLC Applies for MetLife Accelerator, Powered by TechStars</h2>
      <h5 class="news-subtitle">Company looks to further its disruption of legacy systems within the insurance industry</h5>
    </div>
    <div class="news-content">
      <!-- <span><img class="pressImg" src="../images/33.jpeg"></span> -->
      <span>
        <p><strong>Lansing, MI:</strong> Today, Proverimed, LLC, applied for participation in the MetLife Digital Accelerator, powered by TechStars.  The accelerator will focus on innovating in the insurance industry - an industry of massive size & reach with global insurance premiums of $4.5 trillion in 2015. MetLife is a powerhouse as a Fortune 42 company & one of the world’s leading financial services companies with operations in over 40 countries. The program will focus on innovations in health & wellness, the gig & sharing economy, benefits marketplaces, underwriting, etc.</p>

        <p><strong>About Proverimed, LLC:</strong> Proverimed is an online clearinghouse addressing the manual work being performed by insurance carriers, nationwide, when responding to liability insurance coverage and claims history requests from credentials verification organizations, health plans, hospitals, and other companies that need to verify coverage of the health care providers seeking privileges to see patients through those entities.</p>
      </span>
    </div>
  </div>
