  <div class="news-article">
    <div class="pressTitleDetails">
      <h4 class="pressDate"> <strong>FOR IMMEDIATE RELEASE: OCTOBER 18, 2017</strong> </h4>
      <h6>Mike Sparkia</h6>
      <h6>Proverimed, LLC</h6>
      <h6><a href="mailto:msparkia@proverimed.com">msparkia@proverimed.com</a></h6>
      <h2 class="news-title">Proverimed, LLC Welcomes New Partner/VP</h2>
      <h5 class="news-subtitle">Company looks toward experienced leader to expand business development</h5>
    </div>
    <div class="news-content">
      <!-- <span><img class="pressImg" src="../images/33.jpeg"></span> -->
      <span>
        <p><strong>Lansing, MI:</strong> Today, Proverimed, LLC, welcomed Todd Wolffis as a partner and Executive VP of Business Development within the company.  One of the original founders, Mike Sparkia, said, "Todd is a great edition to Proverimed's leadership team, and I am excited to tap into his expertise as relates to start-up development and business growth.  Over his career, Todd has developed a lot of relationships with business leaders in West Michigan, with expansive knowledge of various markets.  Todd is going to be a great partner."</p>

        <p>Mr. Wolffis will begin working with Proverimed immediately, and focus on raising capital, and building mutually beneficial relationships with third-party vendors, as Proverimed continues its growth.</p>

        <p><strong>About Proverimed, LLC:</strong> Proverimed is an online clearinghouse addressing the manual work being performed by insurance carriers, nationwide, when responding to liability insurance coverage and claims history requests from credentials verification organizations, health plans, hospitals, and other companies that need to verify coverage of the health care providers seeking privileges to see patients through those entities.</p>
      </span>
    </div>
  </div>
