body { margin: 0; width: 100%;}
.material-icons.md-24 { font-size: 18px; }
 #portal, #enroll, .home, .about, .pricing, .news, .team, .view-title  { font-family: 'Lato', sans-serif; }
 .pricing-container {font-family: "Helvetica", sans-serif;}
 /* p {font-family: 'Karma', serif;} */

/* APP OVERVIEW */



/* HOME START */
#home-img-contain { width: 100%;  overflow: hidden; }
#home-img-contain div.container-fluid { position: absolute; top: 250px;}
#home-img-contain div.row { max-width: 1200px; margin: 0 auto;}
.home-img { width: 100%;}
.home-img-wrap { width: 100%; max-height: 300px; overflow: hidden;}
#portal, #enroll { border: 1px solid rgba(0,135,220,1); box-shadow: 0px 0px 4px 5px rgba(255,255,255,.5); text-align: center; font-weight: 450; font-size: 1rem; cursor: pointer; background-color: rgba(255,255,255,1); transition: .1s; }
div#portal-wrap button.portal-title-wrap:hover { background-color: rgba(0,135,220,1); box-shadow: 0px 0px 0px 0px rgba(255,255,255,.5); color: white; }
.portal-title { padding: 5% 0; }
button.portal-title-wrap {width: 100%}
/* HOME START */





.participation-container { max-width: 1200px; margin: 0 auto; }
.vendor-list-repeat { font-family: 'Playfair Display', serif; }
.vendor-list-repeat:nth-child(odd) { background-color: rgba(0,135,220,.1); }
.vendor-list-title { margin: 50px 0 10px 0}
.vendor-city, .vendor-code, .vendor-name, .vendor-state{ border-bottom: 1px solid black;}


/* NEWS VIEW  START*/
.news-controls { cursor: pointer; background-color: rgba(0,135,220,1); width: 100%; font-size: 1.2rem; text-align: center; font-weight: bold; padding: 10px 0; color: white; border-radius: 5px; transition: .2s;}
.news-controls:hover { background-color: rgba(142,142,142,1); transition: .2s; }
.news-controls:focus { background-color: rgba(142,142,142,1); transition: .2s; }
.recent-news-btn { margin: 0 10px; cursor: pointer;}
.recent-news-btn:hover { color: rgba(0,135,220,1);}
.news-articles-selection { border-top: 1px solid black; border-bottom: 1px solid black; min-height: 300px; background-color: rgba(0,0,0,.05); }
.recent-news { margin: 15px 10px 5px 10px;}
.pressTitleDetails { margin: 0 0 40px 0;}
div.pressTitleDetails h6 { margin: 0 0 5px 0;}
.pressDate { float: right; font-size: 24px; font-weight: 300;}
.pressImg { margin-top: 50px; max-width: 100%;}
.news-container { width: 100%; } .news-article { max-width: 1200px; margin: 50px auto; } .news-title { margin: 40px 0 0 0; font-size: 28px; } .news-content {display: inline;} .news-content span img {float: left; margin-right: 10px;}
.news-title, .news-subtitle { text-align: center; }
.news-subtitle {font-size: 18px;}

/* NEWS VIEW  END*/

/* CONTACT PAGE */
.contact-container { margin: 50px 0; font-size: 30px;}
.email-contact { font-size: 24px;}
.social-icons {max-width: 50px; cursor: pointer; display: inline-block; bottom: 0; transition: .2s;}
div.col-sm-1 a img.social-icons { transform: translate(-60%,40%); -ms-transform: translate(-60%,40%); -webkit-transform: translate(-60%,40%);}
.social-icons:hover {filter: grayscale(100%);}
.contact-individual {padding: 10px 0; }
.contact-id {background-color: rgba(0,135,220,.1); padding: 10px 0; border-left: 4px solid rgba(0,135,220,1);}
.contact-email {display: inline-block; font-size: 1rem; font-weight: 400;}
.contact-name, .contact-title { margin-bottom: 0;}
.contact-name { margin: 10px 0 0 0;}
.contact-title { font-size: 1.2rem;}
.contact-center {text-align: center;}
.contact-social { margin-top: 40px;}
.contact-email-hover:hover {text-decoration: none; color: grey;}
a:hover {text-decoration: none; color: grey;}
/* CONTACT PAGE END */

/* WATERMARK START */
.water-mark-contain {width: 40%;  position: absolute; bottom: -150px; right: 0; overflow: hidden; overflow-y: auto}
.waterMark {position: relative; bottom: 0; right: 0; opacity: .08; z-index: -1; width: 100%;  }
/* WATERMARK END */



/* INDEX STYLES */

/* FOLD START */

/* HEAD LOGO */
.logo-wrap { max-width: 1200px; margin: 20px auto; }
#logo { width: 100%; }
/* HEAD LOGO */

/* FOLD BUTTONS */
.fold-btn-container { background-color: #0087dc; }
div.fold-btn-container div.row { margin: 0 auto; max-width: 1200px;}
div.active { background-color: black; transition: 1s}
.fold-btn-main { border-right: 3px solid white; text-align: center; align-self: center; cursor: pointer;  background-color: #0087dc}

.fold-btn:hover, .fold-btn-sub { background-color: white;  color: black;  z-index: 1000;}
.btn-hov:hover .fold-btn-sub { display: block !important ;  height: 100%; padding: 8px 0; transition: .3s;}
.fold-btn-sub{display: none; padding: 0px 0 height: 0px; width: 100%;  background-color: white; border-bottom: 3px solid rgb(0,135,220);}

.fold-text-wrap {padding-top: 25px; height: 100%;}
.btn-sub-text {font-size: 1.2rem; margin-top: 5px; font-weight: 450; }

div.btn-hov .fold-btn-sub:first-of-type { border-top: 3px solid rgb(0,135,220);}

#fold-btn .fold-btn-sub:hover {background-color: #0087dc; color: white;}

#fold-btn h3 { height: 100%;}

#home, #about, #pricing, #news, #team, #homeID, #aboutID, #pricingID, #newsID, #teamID, #fold-btn-container, #solutions, #solutionsID, #activeID, .fold-btn-main {padding: 0 5px;}

#home { border-left: 3px solid white;}
.fold-btn { position: relative; color: white; height: 50px;}
div.active .fold-btn  { background-color: white; color: black;}
.fold-text { margin-top: -9px; font-size: .5rem; font-weight: bold; }

#hamburger, #closeout {float: right; font-size: 18px; cursor: pointer;}


/* FOLD BUTTONS */

/* FOLD END */



/* INDEX STYLES */
