body { margin: 0; width: 100%;}
.material-icons.md-24 { font-size: 18px; }
#portal, #enroll, .home, .about, .pricing, .news, .team, .view-title, .pricing-container { font-family: 'Helvetica', sans-serif; }

/* HOME START */
#home-img-contain { width: 100%;  overflow: hidden; }
#home-img-contain div.container-fluid { position: relative; transform: translateY(-150px); -ms-transform: translateY(-150px); -webkit-transform: translateY(-150px); }
#home-img-contain div.row { max-width: 1200px; margin: 0 auto;}
.home-img { width: 100%;}
.home-img-wrap { width: 100%; max-height: 300px;}
#portal, #enroll { border: 1px solid rgba(0,135,220,1); box-shadow: 0px 0px 4px 5px rgba(255,255,255,.5); text-align: center; font-weight: 450; font-size: 1rem; cursor: pointer; background-color: rgba(255,255,255,1); font-family: 'Noto Sans', sans-serif; transition: .1s; }
div#portal-wrap div.portal-title-wrap:hover { background-color: rgba(0,135,220,1); box-shadow: 0px 0px 0px 0px rgba(255,255,255,.5); color: white; }
.portal-title { padding: 5% 0; }
/* HOME START */


/* PRICE START */
.pricing-container { max-width: 1200px; margin: 50px auto 50px 0;}
.parti-wrap, .verifi-wrap, .claims-wrap { text-align: center; font-size: 1rem; font-weight: bold; height: 300px; background-color: rgba(255,255,255,1); border: 3px solid black; z-index: 100;}
.parti-wrap {cursor: pointer;}
.pricing-title{margin: 10px 0 0 0; font-weight: bolder; max-height: 30px;}
#price-circle {background-color: #0087dc; height: 100px; margin: 0 auto; border-radius: 50%; transform: translateY(-25%); -ms-transform: translateY(-25%); -webkit-transform: translateY(-25%); }
.price-digits{font-weight: bolder; font-size: 36px; color: white; margin-top: 20px; }
p.free-check {font-size: 20px; margin-top: 20px; line-height: 1.7rem;}
.price-icons {position: relative; transform: translate(10%,25%); -ms-transform: translate(10%,25%); -webkit-transform: translate(10%,25%); max-width: 75%}
.arrow-r { width: 10%; margin-left: 5px; display: inline-flex;}
.check-participation { bottom: 0; position: absolute; width: 100%; background-color: grey; padding: 10px 0; color: white;}
.price-per {font-size: 16px; font-weight: normal; bottom: 75px; position: absolute; text-align: center; width: 100%; }
/* CHECK ------------ */
.pricing-circle-back {height: 50px; background-color: rgba(0,0,0,.7); margin-top: 50px }
.decimal-shift {transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); font-size: 50%; display: inline-block;}
/* PRICE END */


.participation-container { max-width: 1200px; margin: 0 auto; }
.vendor-list-repeat { font-family: 'Playfair Display', serif; }
.vendor-list-repeat:nth-child(odd) { background-color: rgba(0,135,220,.1); }
.vendor-list-title { margin: 50px 0 10px 0}
.vendor-city, .vendor-code, .vendor-name, .vendor-state{ border-bottom: 1px solid black;}

/* ABOUT VIEW  START*/
div.align-middle.col-12 { display: inline-flex;}
.about-motto {margin: 50px 0 30px 0; color:rgba(0,135,220,1); font-size: 1.5rem; text-align: center;}
.icon-align {vertical-align: middle; display: inline-flex;}
div.about-blt {margin: 40px auto 0 0;}
.about-text {display: inline-flex; line-height: 2rem; margin: -5px 20px; font-size: 1rem;}
div.about-text.oneline {margin: 10px 20px 10px 20px;}
.icon-about {max-height: 50px}
/* ABOUT VIEW  END*/

/* NEWS VIEW  START*/
.news-controls { cursor: pointer; background-color: rgba(0,135,220,1); width: 100%; font-size: 1.2rem; text-align: center; font-weight: bold; padding: 10px 0; color: white; border-radius: 5px; transition: .2s;}
.news-controls:hover { background-color: rgba(142,142,142,1); transition: .2s; }
.news-controls:focus { background-color: rgba(142,142,142,1); transition: .2s; }
.recent-news-btn { margin: 0 10px; cursor: pointer;}
.recent-news-btn:hover { color: rgba(0,135,220,1);}
.news-articles-selection { border-top: 1px solid black; border-bottom: 1px solid black; min-height: 300px; background-color: rgba(0,0,0,.05); }
.recent-news { margin: 15px 10px 5px 10px;}
.pressTitleDetails { margin: 0 0 40px 0;}
div.pressTitleDetails h6 { margin: 0 0 5px 0;}
.pressDate { float: right;}
.pressImg { margin-top: 50px; max-width: 100%;}
.news-container { width: 100%; } .news-article { max-width: 1200px; margin: 50px auto; } .news-title { margin: 40px 0 0 0; font-size: 28px; } .news-content {display: inline;} .news-content span img {float: left; margin-right: 10px;}
.news-title, .news-subtitle { text-align: center; }
.news-subtitle {font-size: 18px;}

/* NEWS VIEW  END*/

/* CONTACT PAGE */
.contact-container { margin: 50px 0; font-size: 30px;}
.email-contact { font-size: 24px;}
.social-icons {max-width: 50px; cursor: pointer; display: inline-block; bottom: 0; transition: .2s;}
div.col-sm-1 a img.social-icons { transform: translate(-60%,40%); -ms-transform: translate(-60%,40%); -webkit-transform: translate(-60%,40%);}
.social-icons:hover {filter: grayscale(100%);}
.contact-individual {padding: 10px 0; }
.contact-id {background-color: rgba(0,135,220,.1); padding: 10px 0; border-left: 4px solid rgba(0,135,220,1);}
.contact-email {display: inline-block; font-size: 1rem; font-weight: 400;}
.contact-name, .contact-title { margin-bottom: 0;}
.contact-name { margin: 10px 0 0 0;}
.contact-title { font-size: 1.2rem;}
.contact-center {text-align: center;}
.contact-social { margin-top: 40px;}
.contact-email-hover:hover {text-decoration: none; color: grey;}
a:hover {text-decoration: none; color: grey;}
/* CONTACT PAGE END */

/* WATERMARK START */
.water-mark-contain {width: 40%;  position: absolute; bottom: 0; right: 0; overflow: hidden;}
.waterMark {position: relative; bottom: 0; right: 0; opacity: .08; z-index: -1; width: 100%; transform: translateY(30%); -ms-transform: translateY(30%); -webkit-transform: translateY(30%); }
/* WATERMARK END */



/* INDEX STYLES */

/* FOLD START */

/* HEAD LOGO */
.logo-wrap { max-width: 1200px; margin: 20px auto; }
#logo { width: 100%; }
/* HEAD LOGO */

/* FOLD BUTTONS */
.fold-btn-container { background-color: #0087dc; }
div.fold-btn-container div.row { margin: 0 auto; max-width: 1200px;}
div.active { background-color: black; transition: 1s}
.fold-btn:hover { background-color: white; color: black; }
.home, .about, .pricing, .news, .team { border-right: 3px solid white; text-align: center; align-self: center; cursor: pointer;  background-color: #0087dc}
.home { border-left: 3px solid white;}
.fold-btn { padding: 18px 0; color: white; max-height: 30px; }
div.active .fold-btn  { background-color: white; color: black;}
.fold-text { margin-top: -9px; font-size: .5rem; font-weight: bold; }
/* FOLD BUTTONS */

/* FOLD END */

/* FOOTER / TRADE MARK START*/
.trade-mark {  position: static; width: 100%; font-size: 10px; text-align: center; padding: 16px; bottom: 0; }
/* FOOTER / TRADE MARK END*/

/* INDEX STYLES */
