<water-mark></water-mark>

<div class=" container">
  <div class=" row">
    <div class="col-sm-0 col-md-0 col-lg-1"> </div>
    <div class="col-sm-12 col-md-12 col-lg-10">

      <h3 class="about-motto">Primary Source Liability Verification</h3>

      <div class="row about-blt">
        <div class=" align-middle col-12">
          <div world-icon class="icon-align"></div>
          <div class="about-text">Website that acts as a clearinghouse for liability carriers, extracting liability coverage and claims history, for credentialing purposes</div>
        </div>
      </div>

      <div class="row about-blt">
        <div class=" align-middle col-12">
          <div time-check class="icon-align"></div>
          <div class="about-text">Removes the need for insurance carriers to fulfill verification of  insurance requests, by automating the verification process</div>
        </div>
      </div>

      <div class="row about-blt">
        <div class=" align-middle col-12">
          <div price-down class="icon-align"></div>
          <div class="about-text ">Reduces expenses for carrier by eliminating employee(s) time and dedication in responding to verification requests</div>
        </div>
      </div>

      <div class="row about-blt">
        <div class=" align-middle col-12">
          <div lock-icon class="icon-align"></div>
          <div class="about-text">Secure, compliant and removes HIPAA concerns, by utilizing appropriate file transfer protocols, instead of email to deliver policy and claims history</div>
        </div>
      </div>

      <div class="row about-blt">
        <div class=" align-middle col-12">
          <div no-cost class="icon-align"></div>
          <div class="about-text oneline">No cost to insurance carriers or providers</div>
        </div>
      </div>

    </div>
    <div class="col-sm-0 col-md-0 col-lg-1"> </div>

    <!-- <img info-slide id="info-slide" src="./images/info.jpeg" alt="Proverimed Informational Slide"> -->
  <div>
</div>
