<div id="home-img-contain">
  <div class="home-img-wrap">
    <img class="home-img" home-slide src="../images/home_img.jpeg" alt="">
  </div>
  <div class="container-fluid">
    <div id="portal-wrap" class="row align-items-center">
      <div class="col-sm-1 col-md-2 col-lg-3"> </div>
      <div id="portal" ng-click="portalClick(true)" class="portal-title-wrap col-sm-4 col-md-3 col-lg-2" >
          <div class="portal-title">
            <strong>PORTAL</strong>
          </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2"> </div>
      <div id="enroll" class="portal-title-wrap col-sm-4 col-md-3 col-lg-2" ng-click="portalClick(false)">
        <div class="portal-title">
            <strong>ENROLL ACCOUNT</strong>
        </div>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-3"> </div>
    </div>
  </div>
</div>
