<div id="home-img-contain">
  <div class="home-img-wrap">
    <img class="home-img" src="../images/home_img.jpeg" alt="">

    <div class="container-fluid">
      <div id="portal-wrap" class="row align-items-center">
        <div class="col-sm-1 col-md-2 col-lg-2"> </div>

        <a  class="portal-title-wrap col-sm-4 col-md-3 col-lg-3" target="_blank" href="https://gapro.onknowledgekubesandbox.co.uk/login"> <button id="portal" type="button" name="portal" class="portal-title-wrap " >
          <div class="portal-title">
            <strong>PORTAL</strong>
          </div>
        </button> </a>

        <div class="col-sm-2 col-md-2 col-lg-2"> </div>

        <a  class="portal-title-wrap col-sm-4 col-md-3 col-lg-3" href=""> <button id="enroll" type="button" name="enroll" class="portal-title-wrap">
          <div class="portal-title">
            <strong>ENROLL ACCOUNT</strong>
          </div>
        </button> </a>

        <div class="col-sm-1 col-md-2 col-lg-2"> </div>
      </div>
    </div>

  </div>
</div>

<about-bullets></about-bullets>
