<div id="home-img-contain">
  <div class="home-img-wrap">
    <img class="home-img" home-slide src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="">
  </div>
  <div class="container-fluid">
    <div id="portal-wrap" class="row">
      <div class="col-sm-1"> </div>
      <div id="portal" class="portal-title-wrap col-sm-4" >
        <div class="portal-title">
          <a class="portal-link" href="https://gapro.onknowledgekubesandbox.co.uk/gapro-homepage?refresh=false">PORTAL</a>
        </div>
      </div>
      <div class="col-sm-2"> </div>
      <div id="enroll" class="portal-title-wrap col-sm-4" >
        <div class="portal-title">
          <a class="portal-link" href="https://gapro.onknowledgekubesandbox.co.uk/gapro-homepage?refresh=false">ENROLL ACCOUNT</a>
        </div>
      </div>
      <div class="col-sm-1"> </div>
    </div>
  </div>
</div>
