
<div class="news-container container">
  <div class="row">

    <div class="col-sm-3 ">
      <img class="pressImg" src="../images/33.png">
      <recent-news></recent-news>
      <!-- <div class="news-articles-selection">
        <h5 class="recent-news">
          Recent News
        </h5>
        <div ng-repeat="article in newsArticles" class="recent-news-btn" ng-click="currentNews(article.id)">{{article.shortTitle}}</div>
      </div> -->
    </div>

    <div class="col-sm-9">
      <article-detail></article-detail>

      <!-- <div  >

        <div class="news-conainter" >
          <div ng-repeat="article in newsArticles" class="news-article" ng-if="newsObject.current.id === article.id">
            <div class="pressTitleDetails">
              <h4 class="pressDate"> <strong>{{article.date}}</strong> </h4>
              <h6>{{article.author}}</h6>
              <h6>{{article.company}}</h6>
              <h6><a href="mailto:msparkia@proverimed.com">{{article.email}}</a></h6>
              <h2 class="news-title">{{article.title}}</h2>
              <h5 class="news-subtitle">{{article.subTitle}}</h5>
            </div>
            <div class="news-content">
              <span>
                <p ng-repeat="paragraph in article.paragraphs" ng-init="outerIndex = $index"><strong ng-if="outerIndex===0">{{article.bold}}</strong>
                  <span>{{paragraph}}</span>
                </p>

                <p><strong>{{article.about[0]}}</strong>{{article.about[1]}}</p>
              </span>
            </div>
          </div>
        </div>
      </div> -->

    </div>

  </div>
  <news-buttons></news-buttons>
  <!-- <div class="row">

    <div class="col-2">
      <div class="news-controls" ng-if="newsObject.prev" ng-click="currentNews(newsObject.prev)">
        PREV
      </div>
    </div>

    <div class="col-8"> </div>

    <div class="col-2">
      <div class="news-controls" ng-if="newsObject.next" ng-click="currentNews($ctrl.newsObject.next)">
        NEXT
      </div>
    </div>
  </div> -->
</div>
