<div class="news-conainter">
  <div class="news-article">
    <div class="news-articles-selection">
      <h5 class="recent-news">
        Recent News
      </h5>
      <div class="recent-news-btn" ng-click="currentNews('pressIncorporation')">Incorporates</div>
      <div class="recent-news-btn" ng-click="currentNews('pressCapital')">Raises Capital</div>
      <div class="recent-news-btn" ng-click="currentNews('pressWolffis')">Welcomes New VP</div>
    </div>
    <div>
      <div ng-if="newsObject.current === 'pressIncorporation'">
        <press-incorporation></press-incorporation>
      </div>
      <div ng-if="newsObject.current === 'pressCapital'">
        <press-capital></press-capital>
      </div>
      <div ng-if="newsObject.current === 'pressWolffis'">
        <press-wolffis></press-wolffis>
      </div>

    </div>
    <div class="parse-news">
      <div class="prev-news" ng-click="currentNews('prev')">
        < PREVIOUS
      </div>
      <div class="next-news" ng-click="currentNews('next')">
        NEXT >
      </div>
    </div>
  </div>
</div>
