<div class="pricing-container container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6 price-icons">
          <img src="../images/participation.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6 price-icons">
          <img src="../images/insurance.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6 price-icons">
          <img src="../images/appointment.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="row">
        <div class="parti-wrap pricing-hover price-sub-grid col-sm-11" ng-click="routeClick('/participation')">

            <div id="carriers" class="pricing-title">
              <h4>Participating Carriers</h4>
            </div>

            <div class="row  pricing-circle-back">
              <div class="col-sm-12">
                <div class="row">
                  <div id="price-circle" class="col-sm-6">
                    <p class="price-digits free-check">FREE CHECK</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row price-per">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <span>Price per confirmed verification</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row  check-participation">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <span>Check Participation</span>
                    <img class="arrow-r" src="../images/arrowR.png" alt="">
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>


    <div class="col-sm-4">
      <div class="row">
        <div class="verifi-wrap pricing-hover price-sub-grid col-sm-11" ng-click="routeClick('/participation')">

          <div class="pricing-title">
            <h4> Insurance Verification </h4>
          </div>

          <div class="row  pricing-circle-back">
            <div class="col-sm-12">
              <div class="row">
                <div id="price-circle" class="col-sm-6">
                  <p class="price-digits"><span class="decimal-shift">$</span>25<span class="decimal-shift">.00</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row price-per">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <span>Price per confirmed verification</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row  check-participation">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <span>Check Participation</span>
                  <img class="arrow-r" src="../images/arrowR.png" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="claims-wrap pricing-hover price-sub-grid col-sm-11" ng-click="routeClick('/participation')">

          <div class="pricing-title">
            <h4>Claims History</h4>
          </div>

          <div class="row  pricing-circle-back">
            <div class="col-sm-12">
              <div class="row">
                <div id="price-circle" class="col-sm-6">
                  <p class="price-digits"><span class="decimal-shift">$</span>10<span class="decimal-shift">.00</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row price-per">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <span>Price per confirmed verification</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row  check-participation">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <span>Check Participation</span>
                  <img class="arrow-r" src="../images/arrowR.png" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="pricing-back"></div> -->
