<div class="container solutions-section" ng-style="solutionStyle" >
  <div class="row solutions-head">
    <h2>PROVERIMED SOLUTIONS</h2>
    <p>Choose the option that best describes you.</p>
  </div>
  <div class="row solutions-options">
    <div class="col-1"> </div>
    <div class="col-4 solutions-click" ng-click="routeClick('/MPL', true, route)">
      <h5>I'M A MPL</h5>
    </div>
    <div class="col-2"> </div>
    <div class="col-4 solutions-click" ng-click="routeClick('/CVO', true, route)">
      <h5>I'M A CVO</h5>
    </div>
    <div class="col-1"> </div>
  </div>


</div>
